<div class="m-5">
<h3 class="bg-primary text-white p-3">Registered Users</h3>
<div class="my-1">
<app-add-user></app-add-user>

</div>
<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th> </th>
    <th>Name</th>
    <th>Email</th>
    <th>Phone Number</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let user of users">
    <tr>
      <td [innerHtml]="user.id"></td>
      <td [innerHtml]="user.firstName +' '+ user.lastName"></td>
      <td [innerHtml]="user.email"></td>
      <td [innerHtml]="user.phoneNumber"></td>
    </tr>
  </ng-container>

  </tbody>
</table>
</div>