<div class="content">
  <div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-tabs card-header-primary">               
                <div class="nav-tabs-navigation ">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title">Users </span>
                      <ul class="nav nav-tabs pull-right" data-tabs="tabs">
                        <li class="nav-item">
                          <a class="nav-link active" routerLink="/user/add" data-toggle="tab">
                            <i class="material-icons">add</i> Add
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        
                      </ul>
                    </div>
                  </div>     
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class=" text-primary">
                    <th>
                      ID
                    </th>
                    <th>
                      First Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                      Email
                    </th>                    
                    <th>
                        
                      </th>                    
                  </thead>
                  <tbody>
                      <ng-container *ngFor="let user of getUsers();let i = index; let odd = odd;let even = even" >                  
                    <tr>
                        <td [innerHtml]="user.userId"></td>
                        <td [innerHtml]='user.firstName'></td>
                        <td [innerHtml]="user.lastName"></td>
                        <td [innerHtml]="user.email"></td>
                        <td >
                          <div style="display: inline; margin-right: 5px"><a routerLink="/user/edit/{{user.userId}}">Edit</a></div>  
                          <div style="display: inline;color: #9c27b0;"><a (click)="deleteUser(user.userId)">Delete</a></div>
                        </td>
                      </tr>
                    </ng-container>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>   
  </div>
</div>




